.header{
    height: 8.6vh;
    width: auto;
    background-color: #818C25;
    color: #F7ECDE;
    display: flex;
}

.main-text{
    font-size: 6.07vh;
}

.button-wrapper{
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

button{
    height: 8.6vh;
    border-radius: 0;
}

.fractal-button{
    width: 22.34vw;
    text-decoration: underline;
    color: #FDC058;
}

.colour-button{
    width: 22.82vw;
}

.triangle-button{
    width: 38.76vw;
}

.home-button{
    width: 16.08vw;
}

.button-fr-pic{
    position: absolute;
    margin-top: 1vh;
    margin-left: 11vw;
    width: 3vw;
}