@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
  margin: 0;
  font-family: Itim;
}

button:hover{
  background-color: #B6BE53;
  color: #FFFFFF;
}

button:active{
  background-color: #767524;
  color: #F7ECDE;
}
